/* Modificações  na imagem e texto do perfil */
#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.808);
    object-fit: cover;
} 

#profile p{
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px;
}