*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-url: url(../img/bg-desktop.jpg);
    --text-color: aliceblue;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1); 
    --surface-color-hover: rgba(255, 255, 255, 0.5);
    --switch-bg-url: url(../img/MoonStars.svg);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light{
    --bg-url: url(../img/bg-desktop-light.jpg);
    --text-color: #000;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1); 
    --surface-color-hover: rgba(0, 0, 0, 0.5);
    --switch-bg-url: url(../img/sun.svg);
    --highlight-color: rgba(0, 0, 0, 0.2);
}

/* Modificações do body */
body *{
    font-family: "inter", sans-serif;
    color: var(--text-color);
}

body{
    background:var(--bg-url) no-repeat top center / cover ;
    height: 100vh;
}

/* Modificações container */
#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px; /* Isso seria o espaçamento entre um e outro*/
    padding: 24px;
}
#socialLinks{
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 16px;


    font-size: 24px;

}